body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
}
.form-control::placeholder {
  font-style: italic;
}
.form-control {
  font-size: 1.2rem;
}
.form-control {
  font-style: italic;
}
.text-left {
  text-align: center;
  margin-right: 400px; /* Αλλάξτε την τιμή του margin-left ανάλογα με την επιθυμητή μετατόπιση */
}
